.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: rgb(204, 133, 145);
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 20px solid rgba(187, 90, 122, 0.699);
  display: flex;
}

.letter, .blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid rgb(131, 84, 161);
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: rgba(221, 191, 201, 0.699);
  color: rgb(92, 70, 189);
  font-weight: bold;
}

.letterContainer p {
  margin-bottom:1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  all: unset;
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
  background-color:  rgba(221, 191, 201, 0.699);
  border: 1px solid rgba(175, 122, 140, 0.699);
  color: rgb(98, 74, 206);
}

.letterContainer input:focus {
  border: 2px solid rgb(131, 84, 161);
}
